/* App.css */

/* Dark and Light Mode Themes */
.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}

.dark-mode {
  background-color: #212529;
  color: #f8f9fa;
}

/* Card hover effects */
.hover-effect {
  transition: transform 0.2s, box-shadow 0.2s;
}
.hover-effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}



/* Ensure smooth sidebar transitions */
.sidebar {
  background-color: #E0E0E0;
  transition: width 0.3s ease-in-out;
}

/* Global body resets */
body {
  margin: 0;
  padding: 0;
}